<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" th:href= "@{/css/style.css}">
</head>
<body>

<div class="container">
    <form th:action="@{/login}" method="POST">
       <!-- <div th:unless="${#objects.nullSafe(error,default)}">
            <div th:object="${error}"  class="error">
                <span th:text = "*{message}"></span>

            </div>
        </div>-->
        <h2>Login</h2>
        <label for="username">Email</label>
        <input type="text" name="username" placeholder="Enter email" autofocus>
        <div class="feedback">Valid</div>

        <label for="password">Password</label>
        <input type="password" name="password"  placeholder="Enter password">
        <div class="feedback">Valid</div>

        <button type="submit">Submit</button>
    </form>
</div>

</body>
</html>